<div class="container d-flex justify-content-center pt-2">
  <div class="card w-100">
    <div class="card-header bg-primary text-white">
      <h2 class="text-center">My Past Orders</h2>


<% @orders.each do |order| %>
    <p>
        Commande Ref: <%= order.id %> du: <%= order.created_at %>
        reference de paiement: <%= order.stripe_customer_id%>
        <%= link_to "detail de la commmande", order_path(order.id), method: :get, class: "btn btn-secondary" %>
    </p>
<% end %>
    </div>
  </div>
</div>
