<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<center>
		<div class="card rounded-0">
			<div class="card-header rounded-0">
				<h1>Confirmation de votre achat</h1>
			</div>
			<div class="card-body">
				<p>
					Bonjour "@user.name", 
					nous te confirmons l'achat de l'article : "@Article.name"
				</p>
			</div>
		</div>
	</center>
</body>
</html>