<ul id="list_email">
    <% @cart.items.each do |item| %>
        <div>
            <%= item.title %>
            <%= item.description %>
            <%= item.price %>
        </div>
    <% end %>
</ul>
<p>total: "Somme" </p>