<h1> tu es sur la page Show </h1>
<script src='https://checkout.stripe.com/checkout.js' class='stripe-button'
                  data-key='<%= Rails.configuration.stripe[:publishable_key] %>'
                  data-description='Payez votre commande'
                  data-email=<%= current_user.email %>
                  data-currency= 'eur',
                  data-amount=<%=  500 %>
                  data-locale='auto'></script>