
<center>
  <div class="card w-50">
    <div class="card-header bg-primary text-white">
	      <h2>My profile :</h2>
	      <h2><%=current_user.email%></h2>
	      <a href="<%=edit_user_registration_path(current_user.id)%>">
				<span class="btn btn-secondary" style="float:right;">Edit profile</span>
		  </a>
    </div>
    <div class="card-body">
		
		<br>
		<% if @user_items %>
			<div class="card">
				<h2>Mes produits</h2>
	 		 	<ul class="list-group list-group-flush">
				<%@user_items.each do |item|%>
				 	<li class="list-group-item"><%item.title%></li>
				<%end%>

			  	</ul>
			</div>
			<br>
		<% end %>
		
			<div class="card">
				<h2>Mon panier</h2>
	 		 	<ul class="list-group list-group-flush">
	 		 	<% if @user_panier %>
					<%@user_panier.each do |item|%>
					 	<li class="list-group-item"><%item.title%></li>
					<%end%>
				<% else %>
					<li class="list-group-item muted-text">
						Votre panier est encore vide ! <br> <br>
						<a href="<%=root_path%>">Voir les articles</a>
					</li>
					
				<%end%>
			  	</ul>
			</div>
		
    </div>
  </div>
</center>