<!--Jumbotron -->
<div class="jumbotron text-center">
  <h2 class="display-3" style="color: #053557">HelloKitties</h2>
  <p class="lead">Miaow Miaow</p>
  <p class="btn btn-info"><%= link_to "Je m'inscris", "#", class:"text-white" %></p>
</div>

<!-- List of Events -->
<div class="container">
  <div class="row">
    <% @items.reverse.each do |items| %>
      <div class="col-md-4">
        <div class="card-header">
          <h2><%= items.title %></h2>
        </div>
        <div class="card-body">
          <p><%= items.description %></p>
          <div class="btn btn-info align-self-end"><%= link_to "J'achète", "#", class:"text-white" %></div>
        </div>
      </div>
    <%end%>
  </div>
</div>
